@using Orchard.ContentManagement;
@using Orchard.Blogs.Models;

@{
  IEnumerable<object> blogPosts = Model.ContentItems.ContentItems;
  var posts = blogPosts.ToList();
}
@if (blogPosts == null || blogPosts.Count() < 1)
{
    <p>@T("No posts.")</p>
}
else
{
   <div class="content-items">
   @for(var i=0; i < posts.Count; i++)
   {
            dynamic post = posts[i];
            string title = post.Title;
            ContentItem item = post.ContentItem;
            var part = ((IContent)post.ContentItem).As<BlogPostPart>();
            dynamic images = post.ContentItem.PostImages;
            string image = (string)images.FeaturedImage.FileName;
            
   <h1>@i</h1>
   <div class="blogpost" style="width: 300px; padding-left: 15px; float: left; background: url(@images.FeaturedImage.FileName) no-repeat;">
         <p class="content-item-summary">@Html.Raw(part.Text)</p>
        
         <img src="@image" alt="@post.Title"/>
          
   </div>

   }
   </div>
}
<script type="text/javascript">
var imageLink = $(".blogpost img").attr("src");
    $(".blogpost img").attr("src", imageLink.substring(1,imageLink.length));
</script>
