@using Orchard.ContentManagement;
@using Orchard.Blogs.Models;

@{
  IEnumerable<object> blogPosts = Model.ContentItems.ContentItems;
  var posts = blogPosts.ToList<dynamic>();
}
@if (blogPosts == null || blogPosts.Count() < 1)
{
    <p>@T("No posts.")</p>
}
else
{
    <div id="leftAside" class="span-6">
        <div id="categories-link">
            <a href="/categories" id="categories-anchor-tag"></a>
        </div>
        <div id="favorites-link">
            <a href="/favorites" id="favorites-anchor-tag"></a>
        </div>
    </div>
   
    <div id="firstPost" class="span-18 last" style="background-image: url(@posts[0].ContentItem.PostImages.FeaturedImage.FileName.ToString().Remove(0,1));"></div>
    <div id="secondPost" class="span-12" style="background-image: url(@posts[1].ContentItem.PostImages.SecondaryImage.FileName.ToString().Remove(0,1));"></div>
    <div id="quadRight"  class="span-12 last">
        <div id="quad1" class="span-6" style="background-image: url(@posts[2].ContentItem.PostImages.QuadImage.FileName.ToString().Remove(0,1));"></div>
        <div id="quad2" class="span-6 last" style="background-image: url(@posts[3].ContentItem.PostImages.QuadImage.FileName.ToString().Remove(0,1));"></div>
        <div id="quad3" class="span-6" style="background-image: url(@posts[4].ContentItem.PostImages.QuadImage.FileName.ToString().Remove(0,1));"></div>
        <div id="quad4" class="span-6 last" style="background-image: url(@posts[5].ContentItem.PostImages.QuadImage.FileName.ToString().Remove(0,1));"></div>
    </div>
  
         
        
         
          
   

    
   
}

