@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix) {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : "";}).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    /* Global includes for the theme
    ***************************************************************/
    
    SetMeta("X-UA-Compatible", "IE=edge,chrome=1");
    Script.Require("jQuery");
    Style.Include("http://fonts.googleapis.com/css?family=Josefin+Slab:100,100italic,light,lightitalic,regular,regularitalic,600,600italic,bold,bolditalic&v1");
    Script.Include("modernizr.custom.90186.js").AtHead();
    Style.Include("site.css");

    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Layout classification based on filled zones
    ***************************************************************/

    //Add classes to the wrapper div to toggle aside widget zones on and off
    var asideClass = CalcuClassify(new [] {"Aside"}, "aside"); // for aside if zone is filled
    if (HasText(asideClass)) {
        Model.Classes.Add(asideClass);
    }

    //Add classes to the wrapper div to toggle quad widget zones on and off
    var afterMainColumnClass = CalcuClassify(new [] {"AfterMainColumnFirst", "AfterMainColumnFirst"}, "split-"); // for quad-1, quad-2, etc. if any of the quad zones are filled
    if (HasText(afterMainColumnClass)) {
        Model.Classes.Add(afterMainColumnClass);
    }

    /* Inserting some ad hoc shapes
    ***************************************************************/

    WorkContext.Layout.Header.Add(New.Branding(), "5"); // Site name and link to the home page
    WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

    /* Last bit of code to prep the layout wrapper
    ***************************************************************/
    
    Model.Id = "layout-wrapper";
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}
@tag.StartElement
@if (Model.Header != null) {
<header id="layout-header" class="group">
    <div id="header">
        @Zone(Model.Header)
    </div>
    @if (Model.Navigation != null) {
    <div id="layout-navigation" class="group">
        @Zone(Model.Navigation)
    </div>
    }
</header>
}
@if (Model.Featured != null) {
<div id="layout-featured" class="group">
    @Zone(Model.Featured)
</div>
}
<div id="layout-main-container">
<div id="layout-main" class="group">
    @if (Model.Aside != null) {
    <aside id="aside" class="aside group">
        @Zone(Model.Aside)
    </aside>
    }
    <div id="layout-content" class="group">
        @if (Model.Messages != null) {
        <div id="messages">
            @Zone(Model.Messages)
        </div>
        }
        @if (Model.BeforeContent != null) {
        <div id="before-content">
            @Zone(Model.BeforeContent)
        </div>
        }
        @* the model content for the page is in the Content zone @ the default position (nothing, zero, zilch) *@
        @if (Model.Content != null) {
        <div id="content" class="group">
            @Zone(Model.Content)
        </div>
        }
        @if (Model.AfterContent != null) {
        <div id="after-content">
            @Zone(Model.AfterContent)
        </div>
        }
    </div>
</div>
</div>
@if (Model.AfterMain != null) {
<div id="layout-after-main" class="group">
    @Zone(Model.AfterMain)
</div>
}
<div id="layout-after-main-columns" class="group">
    @if (Model.AfterMainColumnFirst != null) {
    <div id="layout-after-main-column-first" class="group">
        @Zone(Model.AfterMainColumnFirst)
    </div>
    }   
    @if (Model.AfterMainColumnSecond != null) {
    <div id="layout-after-main-column-second" class="group">
        @Zone(Model.AfterMainColumnSecond)
    </div>
    }   
</div>
<div id="layout-footer" class="group">
    <footer id="footer">
        @if (Model.Navigation != null) {
        <div id="footer-navigation" class="group">
            @Zone(Model.Navigation)
        </div>
        }
       @if(Model.Footer != null) {
        <div id="footer-sig" class="group">
            @Zone(Model.Footer)
        </div>
    }
    </footer>
</div>
@tag.EndElement